* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #59bdcd;
    font-family: monospace;

    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 5px;
    place-items: center;
}

.container h1 {
    border-bottom: 1px solid #59bdcd;
}

.container input {
    margin: 0.5rem 0;
    border: none;
    background-color: #59bdcd;
    color: black;
    font-weight: bolder;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    width: 9rem;
}

.container input::placeholder {
    font-size: 1rem;
    color: #4395a1;
    text-align: center;
    font-weight: lighter;
}

div.container input::-webkit-inner-spin-button{
    display: none;
}

.tabuada {
    margin: 1rem 0;
    text-align: center;
}

.btn-calcular {
    padding: 0.8rem 1.5rem;
    background-color: #59bdcd;
    color: whitesmoke;
    font-weight: bolder;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    
}


.btn-calcular:hover {
    transition: .5s;
    background-color: slateblue;
}