* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: slateblue;
    font-family: monospace;
}

.container {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    margin: 3rem;
    min-width: 500px;
    border-radius: 5px;
}